* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    padding: 20px;
}

.m {
    max-width: 1100px;
    height: 750px;
    gap: 15px;
    display: flex;
    width: 100%;
}

.a {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.d {
    display: flex;
    font-size: 24px;
    background-color: white;
    border-radius: 15px;
    font-weight: bold;
    color: darkgray;
    justify-content: center;
    align-items: center;
    min-height: 0;
    min-width: 0;
}

.k {
    flex: 45;
}

.c {
    flex: 50;
}

.g {
    flex: 30;
}

.h {
    flex: 57;
}

.j {
    flex: 1;
}

.e {
    flex: 43;
}

.b {
    flex: 25;
}

.fa {
    flex: 30;
}

.f {
    flex: 27;
}

.i {
    display: flex;
    gap: 15px;
    flex: 25;
    min-height: 0;
}